:root {
  --color-background: #ffffff;
  --color-text: #000000;

  --color-links: #0284C7;
  --color-button: #0284C7;
  --color-bright: #0369A1;
  --color-divider: #E4E4E7;
  --color-dimmed: #71717A;
  --color-field: #F4F4F5;
  --color-error: #bf1f1f;
  --color-success: #237c23;

  --color-table-back: #fff;
  --color-table-head: #e8e8e8;
  --color-table-even: #f3f3f3;

  --color-white: #FFFFFF;
}

html.is-dark {
  --color-background: #18181B;
  --color-text: #fafafa;

  --color-links: #38BDF8;
  --color-button: #0EA5E9;
  --color-bright: #0284C7;
  --color-divider: #27272A;
  --color-dimmed: #A1A1AA;
  --color-field: #27272A;
  --color-error: #ff4545;
  --color-success: #20af20;

  --color-table-back: #25252b;
  --color-table-head: #2e2e3a;
  --color-table-even: #2e2e36;
}