<footer class="footer">
    <nav class="menu">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </nav>

    <p>Designed by <a href="https://lukin.me" target="_blank">Anton Lukin</a></p>
</footer>

<script src="/assets/scripts.min.js?v=<%- version %>"></script>