<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header') %>
</head>

<body>
    <header class="header">
        <span class="logo"><a href="/">wpset.org</a>/<a href="/social-planner/">social-planner</a>/setup/</span>
        <button class="mode" id="switch-theme">Switch theme</button>
    </header>

    <section class="section">
        <h1>Social Planner: <strong>setup</strong></h1>

        <p>
            This section describes in sufficient detail the process of configuring providers for sending messages.
            Read the instructions carefully and check the screenshots.
            Use the icons below to quickly navigate through the guides of various social networks.
        </p>

        <nav class="tabs">
            <a class="tab" href="#telegram">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="#0088cc">
                    <path
                        d="M1007.36 119.45c-3.584-10.394-7.834-13.21-14.438-15.77-14.541-5.478-39.168 2.816-39.168 2.816s-871.526 313.242-921.293 347.904c-10.752 7.475-14.336 11.776-16.077 16.896-8.602 24.678 18.227 35.533 18.227 35.533l224.614 73.216s8.346 1.178 11.366-0.768c51.098-32.256 514.048-324.608 540.826-334.336 4.25-1.331 7.322 0.102 6.502 3.072-10.752 37.376-412.826 394.854-412.826 394.854s-1.536 1.894-2.56 4.096l-0.512-0.256-20.992 222.822s-8.704 68.25 59.546 0c48.128-48.128 94.72-88.371 118.067-108.032 77.312 53.248 160.461 112.333 196.301 143.206 18.022 15.514 33.075 18.022 45.568 17.51 33.997-1.178 43.52-38.605 43.52-38.605s158.771-639.181 164.096-724.89c0.512-8.346 1.229-13.67 1.28-19.456 0-7.987-0.768-16.026-2.048-19.814z">
                    </path>
                </svg>

                <span>Telegram</span>
            </a>

            <a class="tab" href="#facebook">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="#1877f2">
                    <path
                        d="M1023.656 511.664c0-282.822-229.17-511.992-511.992-511.992s-511.992 229.17-511.992 511.992c0 255.67 187.444 467.623 431.854 506.033v-357.673h-129.825v-147.708h129.825v-112.594c0-128.493 76.171-199.372 193.399-199.372 56.298 0 114.584 9.936 114.584 9.936v125.845h-64.243c-63.591 0-83.449 39.734-83.449 80.138v96.044h141.738l-22.519 147.708h-119.218v357.673c245.064-38.412 431.854-250.365 431.854-506.033v0z">
                    </path>
                </svg>

                <span>Facebook</span>
            </a>

            <a class="tab" href="#vk">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="#45668e">
                    <path
                        d="M669.177 0h-314.355c-286.893 0-354.823 67.93-354.823 354.823v314.355c0 286.893 67.93 354.823 354.823 354.823h314.355c286.893 0 354.823-67.93 354.823-354.823v-314.355c0-286.893-68.652-354.823-354.823-354.823zM826.715 730.603h-74.434c-28.184 0-36.855-22.402-87.441-73.71-44.081-42.637-63.594-48.417-74.434-48.417-15.175 0-19.511 4.336-19.511 25.293v67.208c0 18.066-5.782 28.906-53.477 28.906-78.77 0-166.21-47.695-227.636-136.582-92.501-130.078-117.791-227.636-117.791-247.869 0-10.84 4.336-20.957 25.293-20.957h74.434c18.789 0 26.015 8.671 33.242 28.906 36.855 106.229 98.281 199.452 123.573 199.452 9.395 0 13.731-4.336 13.731-28.184v-109.843c-2.891-50.586-29.628-54.921-29.628-72.988 0-8.671 7.227-17.344 18.789-17.344h117.069c15.898 0 21.68 8.671 21.68 27.462v148.144c0 15.898 7.227 21.68 11.562 21.68 9.395 0 17.344-5.782 34.688-23.124 53.477-59.981 91.776-152.48 91.776-152.48 5.058-10.84 13.731-20.957 32.519-20.957h74.434c22.402 0 27.462 11.562 22.402 27.462-9.395 43.359-100.449 171.99-100.449 171.99-7.949 13.009-10.84 18.789 0 33.242 7.949 10.84 33.964 33.242 51.308 53.477 31.797 36.133 56.368 66.483 62.87 87.441 7.227 20.957-3.613 31.797-24.571 31.797z">
                    </path>
                </svg>

                <span>VK.com</span>
            </a>

            <a class="tab" href="#twitter">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="#1da1f2">
                    <path
                        d="M1024 192c-34.133 17.067-76.8 25.6-119.467 34.133 42.667-25.6 76.8-68.267 93.867-110.933-42.667 25.6-85.333 42.667-136.533 51.2-34.133-42.667-93.867-68.267-153.6-68.267-119.467 0-213.333 93.867-213.333 204.8 0 17.067 0 34.133 8.533 42.667-170.667-8.533-332.8-93.867-435.2-213.333-17.067 34.133-25.6 68.267-25.6 110.933 0 68.267 34.133 136.533 93.867 170.667-34.133 0-68.267-8.533-93.867-25.6v0c0 102.4 68.267 179.2 170.667 204.8-17.067 8.533-34.133 8.533-51.2 8.533s-25.6 0-42.667 0c25.6 85.333 102.4 145.067 196.267 145.067-68.267 51.2-162.133 85.333-264.533 85.333-17.067 0-34.133 0-51.2 0 93.867 59.733 204.8 93.867 324.267 93.867 384 0 597.333-315.733 597.333-588.8 0-8.533 0-17.067 0-25.6 34.133-34.133 68.267-76.8 102.4-119.467v0z">
                    </path>
                </svg>

                <span>Twitter</span>
            </a>

            <a class="tab" href="#ok">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="#ed812b">
                    <path
                        d="M618.88 744.064l147.84 147.84c30.208 30.080 30.208 79.168 0 109.44-30.272 30.208-79.36 30.208-109.44 0l-145.28-145.28-145.984 145.28c-14.72 15.104-34.56 22.656-54.4 22.656s-39.68-7.552-54.4-22.656c-30.72-30.272-30.72-79.36 0-109.44l147.84-147.84c-53.824-12.224-105.664-33.472-153.408-63.552-36.224-22.784-47.104-70.528-24.32-106.752 22.72-36.224 70.528-47.168 106.752-24.32 108.16 68.032 247.552 68.032 355.84 0 36.224-22.848 83.968-11.904 106.752 24.32 22.784 36.16 11.904 83.968-24.192 106.752-47.872 30.016-99.84 51.392-153.6 63.552zM512 528.512c-145.728 0-264.32-118.528-264.32-264.192 0-145.792 118.592-264.32 264.32-264.32s264.32 118.528 264.32 264.32c0 145.664-118.528 264.192-264.32 264.192zM512 154.88c-60.288 0-109.44 49.088-109.44 109.44 0 60.288 49.152 109.44 109.44 109.44 60.352 0 109.44-49.152 109.44-109.44 0-60.352-49.088-109.44-109.44-109.44z">
                    </path>
                </svg>

                <span>OK.ru</span>
            </a>

            <a class="tab" href="#linkedin">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#0a66c2">
                    <path d="M464 0h-416c-26.4 0-48 21.6-48 48v416c0 26.4 21.6 48 48 48h416c26.4 0 48-21.6 48-48v-416c0-26.4-21.6-48-48-48zM192 416h-64v-224h64v224zM160 160c-17.7 0-32-14.3-32-32s14.3-32 32-32c17.7 0 32 14.3 32 32s-14.3 32-32 32zM416 416h-64v-128c0-17.7-14.3-32-32-32s-32 14.3-32 32v128h-64v-224h64v39.7c13.2-18.1 33.4-39.7 56-39.7 39.8 0 72 35.8 72 80v144z"></path>
                </svg>

                <span>LinkedIn</span>
            </a>
        </nav>

        <p>
            <strong>Getting social networks Authentication tokens can be a little tricky.</strong>
            <strong>Please note that the plugin cannot affect this.</strong>
        </p>
    </section>

    <section class="section">
        <h2 class="anchor" id="telegram">
            <span>Telegram</span>

            <a aria-hidden="true" href="#telegram">#</a>
        </h2>

        <p>
            You can send messages to any group or channel.
            To do this, you need to create and add a special Bot to the required chat with the ability to send
            messages.
        </p>

        <p>
            Write to the <a href="https://t.me/BotFather" target="_blank" rel="noopener">@BotFather</a> in Telegram and create a
            new Bot.
            Follow the bot prompts, fill in all required fields and get an API Token.
        </p>

        <p>
            Then you need to find out the group or channel ID.
            If the chat has a <strong>public link</strong>, then you can use its <strong>username</strong> (in the
            format @channelusername).<br>
            Otherwise you can write the message to <a href="https://t.me/username_to_id_bot" target="_blank" rel="noopener">@username_to_id_bot</a> or use <a href="https://stackoverflow.com/a/56546442/8495047" target="_blank" rel="noopener">this guide</a>.
            Note that chat ID can be negative.
        </p>

        <figure>
            <a href="/images/social-planner/telegram-1.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/telegram-1.webp">
                    <source type="image/png" srcset="/images/social-planner/telegram-1.png">
                    <img src="/images/social-planner/telegram-1.png" width="1440" height="875" alt="Social Planner Telegram configuration">
                </picture>
            </a>

            <figcaption>Example settings for Telegram.</figcaption>
        </figure>

        <p>
            If you have an access error when sending a message, try to check the correctness of the API Token and
            the chat ID,
            bypassing the plugin.
        </p>

        <p>
            You can find full help on Telegram Bot API on the <a href="https://core.telegram.org/bots/api" target="_blank" rel="noopener">official website</a>.
        </p>
    </section>

    <section class="section">
        <h2 class="anchor" id="facebook">
            <span>Facebook</span>

            <a aria-hidden="true" href="#facebook">#</a>
        </h2>

        <p>
            With this plugin you can publish to <strong>Facebook Pages only</strong>.
            If you already have an application with permissions to publish to your page,
            you can immediately proceed to the <a href="#facebook-pageid">stage</a> of obtaining the Page ID.
        </p>

        <p>
            <strong>Attention!</strong> Due to Facebook Restriction we can use the new Facebook App in HTTPS sites
            only.
        </p>

        <p>
            <strong>Attention!</strong> You can publish to Facebook with the approved app only.
            So you need to submit the app for approval and it may take upto 3 months to get the approval.
            Facebook changes the rules of using its products often, so before starting the setup,
            read the latest guidelines on the <a href="https://developers.facebook.com/docs/pages/getting-started" target="_blank" rel="noopener">help page.</a>
        </p>

        <p>
            To create a new Facebook application, go to the <a href="https://developers.facebook.com/apps"
                target="_blank">developer pages</a>
            and create new one. You will need to select the type of your application.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-1.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/facebook-1.webp">
                    <source type="image/png" srcset="/images/social-planner/facebook-1.png">
                    <img src="/images/social-planner/facebook-1.png" width="1440" height="978" alt="Social Planner Facebook configuration">
                </picture>
            </a>

            <figcaption>The easiest way to focus on Business integrations.</figcaption>
        </figure>

        <p>
            Enter the App Display Name and the contact Email. The purpose is for <strong>Yourself or your own
                business</strong>.
        </p>

        <p id="facebook-pageid">
            After the application is created, let's find out the ID of your page.
            Read how to do it on the Facebook <a href="https://www.facebook.com/help/1503421039731588" target="_blank" rel="noopener">help page</a>.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-2.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/facebook-2.webp">
                    <source type="image/png" srcset="/images/social-planner/facebook-2.png">
                    <img src="/images/social-planner/facebook-2.png" width="1440" height="875" alt="Social Planner Facebook configuration">
                </picture>
            </a>

            <figcaption>This is how the Page ID usually looks.</figcaption>
        </figure>

        <p>
            Now let's move on getting access token.
            For this you can use <a href="https://developers.facebook.com/tools/explorer/" target="_blank" rel="noopener">Graph API
                Explorer</a> tool.
            In the right section select your Facebook App and in the User or Page field click <strong>Get page
                access token</strong>.
        </p>

        <p>
            Now you need to request some required permissions:
        </p>

        <ul>
            <li>pages_manage_metadata</li>
            <li>pages_manage_posts</li>
            <li>pages_manage_read_engagement</li>
            <li>pages_show_list</li>
        </ul>

        <figure>
            <a href="/images/social-planner/facebook-3.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/facebook-3.webp">
                    <source type="image/png" srcset="/images/social-planner/facebook-3.png">
                    <img src="/images/social-planner/facebook-3.png" width="1440" height="867" alt="Social Planner Facebook configuration">
                </picture>
            </a>

            <figcaption>Ideally you should see something like this for your app and page.</figcaption>
        </figure>

        <p>
            Check that the access token is working by sending a <strong>POST</strong> request in the Graph Explorer
            tool of the
            <code>{PageID}/feed</code>.
            Error <code>The post is empty. Please enter a message to share</code> means that the token is
            correct.
            If the error says about the need to obtain additional permissions, then you will have to pass the
            application verification.
            You can read more about this in the <a href="https://developers.facebook.com/docs/app-review/submission-guide" target="_blank" rel="noopener">Facebook help guide</a>.
        </p>

        <p>
            The received token must be made long-term with <a href="https://developers.facebook.com/tools/debug/accesstoken/" target="_blank" rel="noopener">Access Token Debuger</a>.
            You can also get a permanent token using <a href="https://stackoverflow.com/a/43570120/8495047" target="_blank" rel="noopener">this guide</a>.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-4.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/facebook-4.webp">
                    <source type="image/png" srcset="/images/social-planner/facebook-4.png">
                    <img src="/images/social-planner/facebook-4.png" width="1440" height="952" alt="Social Planner Facebook configuration">
                </picture>
            </a>

            <figcaption>Receiving permanent token in Access Token Debugger.</figcaption>
        </figure>

        <p>
            After receiving the <strong>access token</strong> and <strong>Page ID</strong>, you can proceed to
            configuring the plugin.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-5.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/facebook-5.webp">
                    <source type="image/png" srcset="/images/social-planner/facebook-5.png">
                    <img src="/images/social-planner/facebook-5.png" width="1440" height="875" alt="Social Planner Facebook configuration">
                </picture>
            </a>

            <figcaption>Example settings for Facebook.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="vk">
            <span>VK.com</span>

            <a aria-hidden="true" href="#vk">#</a>
        </h2>

        <p>
            You can send messages both to your profile wall and to the community where you are an administrator.
        </p>

        <p>
            Start by registering your app on the <a href="https://vk.com/editapp?act=create" target="_blank" rel="noopener">developer page</a>.
            Enter something in the title field and choose <strong>Standalone app</strong> platform.
            Then confirm your action with phone call or push notification.
        </p>

        <figure>
            <a href="/images/social-planner/vk-1.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/vk-1.webp">
                    <source type="image/png" srcset="/images/social-planner/vk-1.png">
                    <img src="/images/social-planner/vk-1.png" width="1440" height="875" alt="Social Planner VK.com configuration">
                </picture>
            </a>
        </figure>

        <p>
            Go to the <strong>Settings</strong> tab and copy the <strong>App ID</strong>.
            Insert this ID to the field below and push the button to generate your Token.
        </p>

        <form class="control" action="https://oauth.vk.com/authorize" method="GET" target="_blank">
            <input type="text" name="client_id" value="" placeholder="7722553" required>

            <input type="hidden" name="scope" value="offline,photos,wall">
            <input type="hidden" name="response_type" value="token">
            <input type="hidden" name="redirect_uri" value="https://oauth.vk.com/blank.html">
            <input type="hidden" name="revoke" value="1">
            <input type="hidden" name="v" value="5.125">

            <button class="button" type="submit">Generate token</button>
        </form>

        <p>
            After you agree to the terms and conditions, the page will be redirected to <code>oauth.vk.com</code>
            domain.
            Your Token will be in <code>access_token</code> parameter.
        </p>

        <figure>
            <a href="/images/social-planner/vk-2.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/vk-2.webp">
                    <source type="image/png" srcset="/images/social-planner/vk-2.png">
                    <img src="/images/social-planner/vk-2.png" width="1440" height="424" alt="Social Planner VK.com configuration">
                </picture>
            </a>
        </figure>

        <p>
            Please note that VK.com warns you not to transfer the Token to other sites.
            So keep it secret and only use it on trusted sites.
            Social Planner <strong>does not send</strong> any user data to remote servers.
        </p>

        <p>
            Now you need to get the profile or community ID.
            You can find it in the links of your pages. Use a <strong>negative value to designate a community ID</strong>.
            For profile page, use value without minus.
        </p>

        <figure>
            <a href="/images/social-planner/vk-3.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/vk-3.webp">
                    <source type="image/png" srcset="/images/social-planner/vk-3.png">
                    <img src="/images/social-planner/vk-3.png" width="1440" height="430" alt="Social Planner VK.com configuration">
                </picture>
            </a>

            <figcaption>You can see the ID in the url on the stats page for example.</figcaption>
        </figure>

        <p>
            Use <strong>access token</strong> and <strong>group ID</strong> on the plugin settings page.
        </p>

        <figure>
            <a href="/images/social-planner/vk-4.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/vk-4.webp">
                    <source type="image/png" srcset="/images/social-planner/vk-4.png">
                    <img src="/images/social-planner/vk-4.png" width="1440" height="875" alt="Social Planner VK.com configuration">
                </picture>
            </a>

            <figcaption>Example settings for VK.com.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="twitter">
            <span>Twitter</span>

            <a aria-hidden="true" href="#twitter">#</a>
        </h2>

        <p>
            To set up this provider, you should create the developer Twitter account.
            If you already have it and you created the application earlier,
            then skip directly to the <a href="#twitter-tokens">last step</a>.
        </p>

        <p>
            <strong>Attention!</strong> For new developer accounts only <strong>Twitter API v2</strong> availible.
        </p>

        <p>
            <strong>Attention!</strong> The following steps assume that you have just created your developer account.
        </p>

        <p>
            Log in to <a href="https://developer.twitter.com/" target="_blank" rel="noopener">Twitter Developers</a>
            and click on the <strong>Developer Portal</strong> header menu button. Start with a free account to get started.
        </p>

        <p>
            Now you need to fill out a form to obtain developer status.
            Fill in all fields and checkboxes and submit. Try to describe in as much detail how you will use the keys and on which specific site.

            A sample description is given below.
        </p>

        <blockquote>
            <p>
                I am using a WordPress plugin Social Planner (https://wordpress.org/plugins/social-planner/) to
                publish posts automatically from blog to Twitter.
                The plugin requires Twitter App to publish posts from WordPress to Twitter.
                For this I must create an app and provide the app details such as API key, API secret, Access token
                and Access token secret.

                While creating a new post on my WordPress site, I can schedule the task to send this post to Twitter
                with custom excerpt or image.
                The detailed process is described in the documentation for the plugin
                (https://wpset.org/social-planner/#task-scheduling).
            </p>
        </blockquote>

        <figure>
            <a href="/images/social-planner/twitter-4.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/twitter-4.webp">
                    <source type="image/png" srcset="/images/social-planner/twitter-4.png">
                    <img src="/images/social-planner/twitter-4.png" width="1440" height="899" alt="Social Planner Twitter configuration">
                </picture>
            </a>

            <figcaption>Accept terms and conditions and submit the application.</figcaption>
        </figure>

        <p>
            Once the developer account is created you get new project and application.
            Now you should set up <strong>User authentication settings</strong>.
            Choose at lease Read and write permissions, set any type of application.
            Use your website url in App info section. These options do not affect the operation of the plugin.
            You <strong>do not need</strong> OAuth 2.0 Client ID and Client Secret.
        </p>

        <figure>
            <a href="/images/social-planner/twitter-5.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/twitter-5.webp">
                    <source type="image/png" srcset="/images/social-planner/twitter-5.png">
                    <img src="/images/social-planner/twitter-5.png" width="1440" height="899" alt="Social Planner Twitter configuration">
                </picture>
            </a>

            <figcaption>Set up user authentication.</figcaption>
        </figure>

        <p>
            Navigate to <strong>Keys and tokens</strong> page and generate Consumer Keys and Access Token, Secret.
            Check that you app has Read and Write permissions.
        </p>

        <figure>
            <a href="/images/social-planner/twitter-6.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/twitter-6.webp">
                    <source type="image/png" srcset="/images/social-planner/twitter-6.png">
                    <img src="/images/social-planner/twitter-6.png" width="1440" height="899" alt="Social Planner Twitter configuration">
                </picture>
            </a>

            <figcaption>Generate requred keys.</figcaption>
        </figure>

        <p id="twitter-tokens">
            Now you can use the received keys to configure the plugin.
        </p>

        <p>
            You need to Consumer Key and Consumer Secret, Access Token and Access secret.
            Fields order on the settings page is the same as the order in Twitter.
            Use <strong>Twitter API v2</strong> provider if you followed the steps above.
        </p>

        <figure>
            <a href="/images/social-planner/twitter-7.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/twitter-7.webp">
                    <source type="image/png" srcset="/images/social-planner/twitter-7.png">
                    <img src="/images/social-planner/twitter-7.png" width="1440" height="899" alt="Social Planner Twitter configuration">
                </picture>
            </a>

            <figcaption>Example settings for Twitter.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="ok">
            <span>OK.ru</span>

            <a aria-hidden="true" href="#ok">#</a>
        </h2>

        <p>
            With this plugin you can publish to <strong>OK.ru groups</strong> only.
            If you already have an application with permissions to publish to your group,
            you can immediately proceed to the <a href="#ok-settings">configuring</a> the plugin.
        </p>

        <p>
            <strong>Attention!</strong> You can publish to OK.ru groups with the approved app only.
            So you need to submit the app for approval and request the necessary permissions.
            This process usually takes <strong>3 days</strong>, but the time frame may increase.
        </p>

        <p>
            Log in to OK.ru and go to the <a href="https://ok.ru/app/setup" target="_blank" rel="noopener">development page</a>
            for creating a new application.
        </p>

        <p>
            Fill in the settings fields. Select the type-custom application and save it.
            Immediately after that, a letter should come to your mail indicating your application credentials.
        </p>

        <figure>
            <a href="/images/social-planner/ok-1.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/ok-1.webp">
                    <source type="image/png" srcset="/images/social-planner/ok-1.png">
                    <img src="/images/social-planner/ok-1.png" width="1440" height="999" alt="Social Planner OK.ru configuration">
                </picture>
            </a>

            <figcaption>Do not forget to fill in all the required fields and save the application settings.
            </figcaption>
        </figure>

        <p>
            Now you need to request additional permissions for your app in order to be able to post.
            To do this, send an email to <strong>api-support@ok.ru</strong> with the ID of your application
            and a detailed description of the tasks for which you need permissions.
            A sample description is given below. Do not forget to replace values in brackets.
        </p>

        <blockquote>
            <p>
                Здравствуйте, прошу предоставить разрешения на создание топиков в моем сообществе в Одноклассниках
                <strong>[link to your group]</strong>
                для моего приложения с ID <strong>[application ID from email]</strong>.
                Публикация будет выполняться с моего сайта <strong>[link to your WordPress site]</strong>
                с помощью плагина Social Planner: https://wordpress.org/plugins/social-planner.
                Требуемые разрешения: GROUP_CONTENT, PHOTO_CONTENT.
                Для других целей это приложение использоваться не будет.
            </p>
        </blockquote>

        <p>
            You will receive an answer in about <strong>3 days</strong>.
            If you have not received the letter, check the application settings,
            you may have already been granted permissions.
            You can do this by following <a href="https://ok.ru/vitrine/myuploaded" target="_blank" rel="noopener">the link</a>
            and selecting the application you need.
        </p>

        <p>
            To be able to send messages, your application must be <strong>External</strong>.
            You can do this by adding a new platform with the "Add platform" button at the very bottom of the page.
            Select the <strong>oAuth</strong> type, then fill in the settings section of the external application as in the screenshot.
        </p>

        <figure>
            <a href="/images/social-planner/ok-2.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/ok-2.webp">
                    <source type="image/png" srcset="/images/social-planner/ok-2.png">
                    <img src="/images/social-planner/ok-2.png" width="1440" height="999" alt="Social Planner OK.ru configuration">
                </picture>
            </a>

            <figcaption>This is how the screen will look after the OK.ru support team gives you permissions.
            </figcaption>
        </figure>

        <p id="ok-settings">
            New fields <strong>GROUP_CONTENT</strong> and <strong>PHOTO_CONTENT</strong> will appear in the access
            rights of your application.
            Now you can proceed to configuring the plugin. First of all, get an access token.
            Copy both access token and secret session key to the plugin settings.
        </p>

        <p>
            You can find the <strong>Application public key</strong> at the top of your app's settings page
            or in the first letter from OK.ru support team.
            The <strong>Group ID</strong> value can be viewed in the link address of your group or on its settings
            page.
        </p>

        <figure>
            <a href="/images/social-planner/ok-3.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/ok-3.webp">
                    <source type="image/png" srcset="/images/social-planner/ok-3.png">
                    <img src="/images/social-planner/ok-3.png" width="1440" height="875" alt="Social Planner OK.ru configuration">
                </picture>
            </a>

            <figcaption>Example settings for OK.ru.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="linkedin">
            <span>LinkedIn</span>

            <a aria-hidden="true" href="#linkedin">#</a>
        </h2>

        <p>
            If you already have an authorization key and ability to publish to your Personal or Company Page,
            you can immediately proceed to the <a href="#linkedin-settings">configuring</a> the plugin.
        </p>

        <p>
            <strong>Attention!</strong> At the moment, the plugin does not allow you to receive keys automatically,
            so the process may seem quite complicated. Perhaps in the future the possibility of authorization in a few clicks will be added.
        </p>

        <p>
            <strong>Attention!</strong> You can publish to LinkedIn Company Pages with the approved app only.
            So you need to fill in a special form and request necessary permissions.
            If you want to publish to your Personal page only, you can get keys without approving.
        </p>

        <p>
            Log in to LinkedIn and go to the <a href="https://www.linkedin.com/developers/apps/new" target="_blank" rel="noopener">development page</a>
            for creating a new application.
        </p>

        <p>
            Fill in the settings fields. Add app logo and connect with LinkedIn Page.
            Each app must be associated with a Company Page, so you should create one if it doesn't exist.
        </p>

        <figure>
            <a href="/images/social-planner/linkedin-1.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/linkedin-1.webp">
                    <source type="image/png" srcset="/images/social-planner/linkedin-1.png">
                    <img src="/images/social-planner/linkedin-1.png" width="1440" height="1166" alt="Social Planner LinkedIn configuration">
                </picture>
            </a>

            <figcaption>Do not forget to associate your app with a Company Page.</figcaption>
        </figure>

        <p>
            Now you should request access to application products. Choose <strong>Share on LinkedIn</strong> and <strong>Sign In with LinkedIn</strong>
            if you need to share just to your Personal page. Add <strong>Advertising API</strong> to be able to post on your Company Page.
        </p>

        <figure>
            <a href="/images/social-planner/linkedin-2.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/linkedin-2.webp">
                    <source type="image/png" srcset="/images/social-planner/linkedin-2.png">
                    <img src="/images/social-planner/linkedin-2.png" width="1440" height="1166" alt="Social Planner LinkedIn configuration">
                </picture>
            </a>

            <figcaption>With these permissions you can publish only to your personal page.</figcaption>
        </figure>

        <p>
            Add callback URL on <strong>Auth</strong> tab.
            It's easiest to specify <code>http://localhost/</code> address. After that you can get the key.
            Create an URL using your own <strong>Client ID</strong> instead of <code>{client_id}</code> placeholder.
        </p>

        <pre>
            <code>https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={client_id}&redirect_uri=http://localhost/&scope=w_member_social r_liteprofile </code>
        </pre>

        <p>
            If you have access to <strong>Advertising API</strong>, you need to request extended permissions.
        </p>

        <pre>
            <code>https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={client_id}&redirect_uri=http://localhost/&scope=w_organization_social r_organization_social w_member_social r_basicprofile r_liteprofile rw_organization_admin </code>
        </pre>

        <p>
            Now follow the link generated above, you will be redirected to the callback URL,
            and the <code>code</code> parameter will contain a temporary key. Save it.
        </p>

        <figure>
            <a href="/images/social-planner/linkedin-3.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/linkedin-3.webp">
                    <source type="image/png" srcset="/images/social-planner/linkedin-3.png">
                    <img src="/images/social-planner/linkedin-3.png" width="1440" height="1166" alt="Social Planner LinkedIn configuration">
                </picture>
            </a>

            <figcaption>Add callback and get your Client ID and Secret key.</figcaption>
        </figure>

        <p>
            Finally you can get authorization token using that temporary code.
            Replace placeholders in example below and send cURL or HTTP request.
        </p>

        <pre>
            <code>curl --location --request POST 'https://www.linkedin.com/oauth/v2/accessToken' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'grant_type=authorization_code' \
            --data-urlencode 'code={code}' \
            --data-urlencode 'client_id={client_id}' \
            --data-urlencode 'client_secret={client_secret}' \
            --data-urlencode 'redirect_uri=http://localhost/'</code>
        </pre>

        <p>
            Get <code>access_token</code> field from the response. Great! Almost everything is ready to send messages.
        </p>

        <p id="linkedin-settings">
            If you want to post to your Personal page, you need to get its <strong>ID</strong>. Now it is possible to do this with your new key.
            Send another request to the address below, using the <code>access_token</code> you received above.
        </p>

        <pre>
            <code>curl -H "Authorization: Bearer {access_token}" "https://api.linkedin.com/v2/me?projection=(id)"</code>
        </pre>

        <p>
            Then generate your string-based <strong>URN</strong>. For example <code>urn:li:person:Rr6NbIyGpX</code> for a Personal Page and
            <code>urn:li:organization:93249193</code> for a Company Page. Get ID from page URL for organization URN.
        </p>

        <figure>
            <a href="/images/social-planner/linkedin-4.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/images/social-planner/linkedin-4.webp">
                    <source type="image/png" srcset="/images/social-planner/linkedin-4.png">
                    <img src="/images/social-planner/linkedin-4.png" width="1440" height="997" alt="Social Planner LinkedIn configuration">
                </picture>
            </a>

            <figcaption>Example settings for LinkedIn.</figcaption>
        </figure>
    </section>

    <a class="backlink" href="/social-planner/">
        <span>Back to <strong>Social Planner</strong> summary</span>
    </a>

    <%- include(views + '/parts/footer' ) %>
</body>
</html>
