<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header') %>
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">wpget.org</a>/about/</h1>
        <button class="mode" id="switch-theme">Switch theme</button>
    </header>

    <section class="section">
        <h1>About us</h1>

        <p>
            Hi there! We are a software solutions developers for WordPress with over <strong>10 years</strong> of experience in programming.
            Our team specializes in creating plugins, themes, extensions and translations.
        </p>

        <p>
            We love <strong>WordPress</strong> and want to develop the engine and community, creating high-quality and secure projects.
            Focused on customer <a href="/contact/">support</a>, we do our best to resolve any difficulties you may have.
        </p>

        <article class="article">
            <h3>Donation</h3>

            <p>
                If you want to support our projects, you can send a donation.
                Use <a href="https://www.buymeacoffee.com/wpget" target="_blank">Buy Me a Coffee</a>
                service to support with PayPal or <a href="https://www.tinkoff.ru/cf/9DVkXDTEwfk" target="_blank">Tinkoff</a> for bank cards payments.
                Any your help is greatly appreciated.
            </p>
        </article>
    </section>

    <%- include(views + '/parts/footer') %>
</body>
</html>