<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header') %>
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">wpset.org</a>/about/</h1>
        <button class="mode" id="switch-theme">Switch theme</button>
    </header>

    <section class="section">
        <h1>About us</h1>

        <p>
            Hi there! We are a software solutions developers for WordPress with over <strong>10 years</strong> of experience in programming.
            Our team specializes in creating plugins, themes, extensions and translations.
        </p>

        <p>
            We love <strong>WordPress</strong> and want to develop the engine and community, creating high-quality and secure projects.
            Focused on customer support, we do our best to resolve any difficulties you may have.
        </p>
    </section>

    <section class="section">
        <article class="article">
            <h3>Custom development</h3>

            <p>
                If you want to improve our solutions to fit your needs or have an idea that has not yet been implemented, we are ready to help you.
                Our team provides development and customization of any software solutions for WordPress.
                <a href="/contact/">Contact us</a> to discuss details.
            </p>
        </article>

        <article class="article">
            <h3>Donation</h3>

            <p>
                Most of our products are distributed absolutely free of charge. Their development and support completely falls on our shoulders.
                Any your help is greatly appreciated. Use <a href="https://paypal.me/antonlukin" target="_blank" rel="noopener">Paypal</a> service to make a donation.
            </p>
        </article>
    </section>

    <%- include(views + '/parts/footer') %>
</body>
</html>