<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header') %>
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">wpget.org</a>/contact/</h1>
        <button class="mode" id="switch-theme">Switch theme</button>
    </header>

    <section class="section">
        <h1>Contact us</h1>

        <p>
            Customer support is our top priority. However, we are forced to limit the number of requests that come to us directly.
        </p>

        <p>
            Please use the <a href="https://wordpress.org/support/forum/plugins-and-hacks/" target="_blank">WordPress support forum</a> if you have technical problems with plugins or themes.
            You can also use the issues on <a href="https://github.com/search?q=user%3Aantonlukin+is%3Afeatured+wpget-org" target="_blank">Github</a> to send a request to the developers.
        </p>

        <p>
            If you still have questions send us an e-mail to <a href="mailto:support@wpget.org">support@wpget.org</a>.
            Attach your license key or payment receipt if you have one, please.
        </p>

        <p>
            We typically reply within <strong>24 hours</strong>, but please allow for a <strong>72-hour</strong> window.
        </p>
    </section>

    <%- include(views + '/parts/footer') %>
</body>
</html>