<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header') %>
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">wpget.org</a>/</h1>
        <button class="mode" id="switch-theme">Switch theme</button>
    </header>

    <section class="section">
        <p>
            We create progressive software solutions for <strong>WordPress</strong>.
            Our ultimate goal is to build secure and confidential applications for the needs of your business or personal projects.
            All of our tools are open source and free to redistribute.
        </p>

        <p>
            <a href="/about/">Read more</a> about our studio or <a href="/contact/">contact us</a> if you have any questions.
        </p>
    </section>

    <section class="section">
        <div class="catalog">
            <h2 class="anchor" id="plugins">
                <span>Plugins</span>

                <a aria-hidden="true" href="#plugins">#</a>
            </h2>

            <article class="catalog-item">
                <figure class="catalog-poster">
                    <picture>
                        <source type="image/webp" srcset="/images/sharing-image/screenshot.webp">
                        <source type="image/png" srcset="/images/sharing-image/screenshot.png">
                        <img src="/images/sharing-image/screenshot.png" width="1440" height="960" alt="Sharing Image WordPress plugin general screenshot">
                    </picture>
                </figure>

                <div class="catalog-info">
                    <a class="catalog-header" href="/sharing-image/">Sharing Image</a>

                    <p class="catalog-summary">
                        WordPress plugin for <strong>generating sharing posters</strong> in social networks.
                        Allows you to use text, watermarks and various filters.
                        It is possible to create different posters for any posts types, archives and taxonomies.
                    </p>

                    <div class="catalog-links">
                        <a href="/sharing-image/licenses/">Manage licenses</a>
                        <a href="/sharing-image/hooks/">Actions and filters</a>
                    </div>
                </div>
            </article>

            <article class="catalog-item">
                <figure class="catalog-poster">
                    <picture>
                        <source type="image/webp" srcset="/images/social-planner/screenshot.webp">
                        <source type="image/png" srcset="/images/social-planner/screenshot.png">
                        <img src="/images/social-planner/screenshot.png" width="1440" height="960" alt="Social Planner WordPress plugin general screenshot">
                    </picture>
                </figure>

                <div class="catalog-info">
                    <a class="catalog-header" href="/social-planner/">Social Planner</a>

                    <p class="catalog-summary">
                        WordPress plugin for <strong>scheduling announcements</strong> of posts to your social networks accounts.
                        <strong>Facebook</strong>, <strong>Twitter</strong>, <strong>VK.com</strong>, <strong>OK.ru</strong>, <strong>Telegram</strong> currently supported.
                        <br>
                        The plugin works with profiles, pages, groups, etc.
                    </p>

                    <div class="catalog-links">
                        <a href="/social-planner/setup/">Setup guide</a>
                        <a href="/social-planner/hooks/">Actions and filters</a>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="section">
        <h2 class="anchor" id="themes">
            <span>Themes</span>

            <a aria-hidden="true" href="#themes">#</a>
        </h2>

        <div class="catalog">
            <article class="catalog-item">
                <figure class="catalog-poster">
                    <picture>
                        <source type="image/webp" srcset="/images/instapress/screenshot.webp">
                        <source type="image/png" srcset="/images/instapress/screenshot.png">
                        <img src="/images/instapress/screenshot.png" width="1440" height="960" alt="Instpress WordPress theme general screenshot">
                    </picture>
                </figure>

                <div class="catalog-info">
                    <a class="catalog-header" href="/instapress/">Instapress</a>

                    <p class="catalog-summary">
                        Fast and furious WordPress theme to <strong>share photos</strong> with small description.
                        Inspired by <strong>Instagram</strong>, it also allows you to leave comments,
                        supports categories, sticky posts, tags, search page and much more.
                        Works great out of the box and is easily expandable with child theme.
                    </p>
                </div>
            </article>
        </div>
    </section>

    <%- include(views + '/parts/footer') %>
</body>
</html>