<!DOCTYPE html>
<html>
<head>
    <%- include(views + '/parts/header', meta) %>
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="/">wpget.org</a>/</h1>
        <button class="mode">Switch theme</button>
    </header>

    <section class="hero">
        <p>
            Social Planner is a <strong>WordPress plugin</strong> for scheduling announcements of posts to your social networks accounts.
            The following providers are currently supported:
            <strong>Facebook</strong>, <strong>Twitter</strong>, <strong>VK.com</strong>, <strong>OK.ru</strong>, <strong>Telegram</strong>,
            but you can easily add a new one yourself.
        </p>
    </section>

    <section class="section">
        <h2 class="anchor" id="installation">
            <span>Plugins</span>

            <a aria-hidden="true" href="#plugins">#</a>
        </h2>

        <div class="catalog">
            <div>
                123
            </div>

            <div>
                123
            </div>
        </div>
    </section>

    <%- include(views + '/parts/footer') %>
</body>
</html>