.anchor {
  display: flex;
  flex-flow: row wrap;

  & > a {
    display: block;

    width: 2rem;
    height: 0.75rem;
    margin-right: auto;

    mask-image: svg-load('icons/anchor.svg');
    mask-size: contain;
    mask-repeat: no-repeat;

    background-color: var(--color-links);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    transform: translate(0.5rem, 0.25rem);
    transition: opacity 250ms;

    &:hover {
      background-color: var(--color-bright);
    }

    @media screen and (min-width: 768px) {
      width: 2rem;
      height: 1rem;

      transform: translate(0.75rem, 0.375rem);
    }

    @media (hover: hover) {
      opacity: 0;
    }
  }

  & > span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > strong {
    display: block;

    font-weight: 500;
    font-style: normal;
    font-size: var(--font-sm);

    color: var(--color-success);
  }

  &:hover > a {
    opacity: 1
  }
}