.anchor {
  display: block;

  & > a {
    display: inline-block;

    width: 0.75rem;
    height: 0.75rem;

    mask-image: svg-load('icons/anchor.svg');
    mask-size: contain;
    mask-repeat: no-repeat;

    background-color: var(--color-links);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    transform: translate(0.5rem, 0.25rem);
    transition: opacity 250ms;

    &:hover {
      background-color: var(--color-bright);
    }

    @media screen and (min-width: 768px) {
      width: 1rem;
      height: 1rem;

      transform: translate(0.75rem, 0.375rem);
    }

    @media (hover: hover) {
      opacity: 0;
    }
  }

  &:hover > a {
    opacity: 1
  }
}