.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 2rem;

  font-size: var(--font-sm);
  font-weight: var(--font-medium);

  color: var(--color-white);
  background-color: var(--color-button);
  border: solid 2px var(--color-bright);
  border-radius: var(--rounded);

  cursor: pointer;
  transition: background 200ms, color 200ms;

  &:hover {
    background-color: var(--color-bright);
    border-color: var(--color-bright);
  }

  &.button--outline {
    color: var(--color-links);
    background-color: transparent;
  }

  &.button--outline:hover {
    color: var(--color-white);
    background-color: var(--color-bright);
  }

  @media screen and (min-width: 768px) {
    font-size: var(--font-md);
  }
}