.control {
  display: flex;
  flex-flow: column nowrap;

  margin: 1.5rem 0;

  input {
    flex: 0 0 100%;
    width: 100%;
    margin: 0.25rem 0;

    @media screen and (min-width: 320px) {
      flex: 0 1 20rem;
      margin-right: 0.5rem;
    }
  }

  button {
    flex: 0 0 100%;
    margin: 0.25rem 0;

    @media screen and (min-width: 320px) {
      flex: 0 0 auto;
    }
  }

  @media screen and (min-width: 320px) {
    flex-flow: row nowrap;
  }
}