.logo {
  display: block;

  margin: 0;
  padding: 0;

  font-size: var(--font-sm);
  font-weight: var(--fond-medium);

  color: var(--color-dimmed);
  cursor: default;

  @media screen and (min-width: 768px) {
    font-size: var(--font-md);
  }
}