.logo {
  display: block;

  margin: 0 1rem 0 -0.5rem;
  padding: 0 0 0 0.5rem;
  overflow: hidden;

  font-size: var(--font-sm);
  font-weight: var(--fond-medium);

  color: var(--color-dimmed);
  cursor: default;

  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: var(--font-md);
  }
}