.note {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;

  font-weight: 500;
  font-size: var(--font-xs);

  background-color: var(--color-note);
  border-left: solid 0.25rem var(--color-error);
  border-radius: var(--rounded);
}