.pitch {
  display: flex;
  flex-flow: row wrap;

  margin: 1.5rem 0 2rem;
  padding-bottom: 2rem;

  border-bottom: solid 1px var(--color-divider);

  & > * {
    width: 100%;
    margin: 0 0 0.5rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 360px) {
      width: auto;
      margin: 0 1rem 0 0;
    }
  }
}